- @section = 'tournaments'
#yui-main
  .yui-b.box
    %h3 Edit Tournament Details

    = error_messages_for :tournament

    - form_for [@user, @tournament], :html => { :multipart => true } do |f|
      = render :partial => 'form', :object => f
      %p= submit_tag :update.l, :or => link_to(:cancel.l, tournament_path(@tournament))

.yui-b
  .box.alt.first_alt
    = link_to 'Return to tournaments', tournaments_path
